.cookies-container {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
}

.cookies-section-heading {
  margin-top: -0.2em;
  border-bottom: 2px solid bisque;
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
  color: bisque;
}

.cookies-container h3 {
  color: bisque;
}

.cookies-container ol,
.cookies-container ul {
  margin-bottom: 0.8em;
  margin-left: 19px;
}

.cookies-container p {
  line-height: 1.7;
  font-size: 1em;
}

.cookies-container {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;

}
body {
  background-image: url(/images/homeBackgroun.PNG);
}
