.section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.entry {
    display: flex;
    align-items: center;
    background: #f8f8f9;
    padding: 1em;
    box-shadow: rgba(14, 30, 37, 0.04) 0px 2px 4px 0px, rgba(14, 30, 37, 0.08) 0px 2px 16px 0px;
    border-radius: 0.5em;  
}

.entry .media {
    flex: 1 1 auto;
    overflow:hidden;
    max-height: 17em;
}

.entry .media img {
    width: auto;
    height: 100%;  
    border-radius: 0.5em;
    border: 2px solid #bbb;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.entry .entry-content {
    flex: 1 1 60%;
}

.entry .meta {
    display: flex;
    gap: 1em;
    align-items: baseline;
    padding-top: 10px;
}

.header.entry-header {
    margin-left: 0;
}

.entry .meta .reading-time {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #000;
    opacity: 0.6;

}

.entry .entry-header h4 {
    font-weight: bold;
    line-height: 1.1;
    padding-top: 1em;
}

.entry .short-desc {
    display: none;
}

.entry p:last-child {
    padding-bottom: 0;
}

.entry a.read-more {
    display: block;
    padding: 0.5em 0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.6;
}

.entry a.read-more::after {
    display: inline-block;
    content: '〉 ';
    padding-left: 0.6em;
}

.section-blog .section-container{
    padding: 1em 1em;
    text-align: center;   
}

.section-blog .entries-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.section-blog .entries-list article {
    flex-basis: calc(50% - 1em); 
}

.section-blog .section-header h2 {
    margin: 0;
    padding: 0 0 0.5em 0;
    font-weight: 600;
    max-width: 30ch;
}

.section-blog .list-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 2em; 
}

h5 {
    font-size: 2em;
    color: bisque;
}
.section-header .breadcrumbs p {
    font-weight: bold;
    color: #4b715a;
    font-size: 1.4em;
    
}
span {
    color: #4b715a;
}






